body {
  font: 14px "Century Gothic", Futura, sans-serif;
  color: rgb(255, 240, 217);
  margin: 20px;
  background-color: #353535;
}

ol, ul {
  padding-left: 30px;
}

.btn {
  margin: 5px;
  padding: 10px;
  border-radius: 8px;
  border: 2px #47474d solid;
}

.login-error {
  font: 18px "Century Gothic", Futura, sans-serif;
  color: rgb(255, 119, 119);
  margin: 10px;
}

.login-status {
  font: 20px "Century Gothic", Futura, sans-serif;
  color: rgb(255, 255, 255);
  margin: 30px;
}

.contain-all {
  display: flex;
  flex-direction: column;
}

.login-contain {
  display:flex;
  flex-direction: column;
  align-items: left;
  margin: 10px;
  padding: 15px;
  border-radius: 15px;
  border: 2px #47474d solid;
  background-color: #625670;
}

.instructext {
  font: 24px "Century Gothic", Futura, sans-serif;
  margin: 15px;
  border-bottom: 1px snow solid;
  align-self: center;
}

#disabled-warn {
  position: absolute;
  width: 100%;
  height: 100%;
  font: 48px "Century Gothic", Futura, sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: rgba(25,25,5, 0.7);
  display: flex;
  flex-direction: row;
  z-index: 101;
  text-align: center;
  align-items: center;
  justify-content: center;

}

#content-msg {
  width: 50%
}

#target-msg {
  width: 30%;
}

#controls {
  position: absolute;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
	height: 100%;
  width: 100%;
	text-align: center;
	z-index: 99;
	display:block;
}

#liveinfo {
  font: 18px "Century Gothic", Futura, sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: rgb(255, 119, 119);
  position: relative;
  top: 55px;
  width: 100%;
	text-align: center;
	z-index: 103;
	display:block;
}
